*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.dashboard{
    margin-top: 2rem;
    margin-bottom: 6rem;
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
}

.dash_item{
    background-color: rgb(162, 70, 248);
    height: 200px;
    width: 300px;
    color: white;
    margin: 20px;
}

.dash_item h3{
    text-align: center;
    margin-top: 5rem;
}

.dash_item p{
    text-align: center;
}