* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.filter-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.filter-field {
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(0, 255, 255, 0.792);
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
}

.payment-history {
    margin-top: 30px;
    margin-bottom: 100px;
    display: block;
    font-weight: 500;
}

.payment-block {
    background-color: rgb(113, 102, 154);
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    margin: 10px auto;
    border-radius: 20px;
}

.filter-icon{
    margin-left:5px;
}

.filter-container {
    display: flex;
    align-items: center;
}